{{ define "main" }}
<article class="post">
    <header>
        <!--<h1>{{ .Title }}</h1>-->
        <div class="info">
            {{ if (gt .Params.date 0) }}
            <span class="date">{{ .Date.Format "Jan 2, 2006" }}</span>
            {{ end }}
            {{ if .Params.tags }}
            <span class="tags">
                {{ range .Params.tags }}
                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="tags">{{ . }}</a>
                {{ end }}
            </span>
            {{ end }}
        </div>
    </header>
    <section>
        {{ .Content }}
    </section>
</article>
{{ end }}
